.home-container {
    background-color: #ffce66;
    padding: 10px;
  }
  .hamburger-icon {
    text-align: right;
    width: 100%;
    max-width: 750px;
    margin: auto;
    background-color: transparent;
    border: none;
  }
  .navigation-button {
    border: none;
    background-color: transparent;
  }
  .home-details {
    text-align: left;
    width: 100%;
    max-width: 600px;
    margin-top: 35px;
  }
  .home-details h1 {
    color: #ffffff;
    font-weight: bolder;
    font-size: 72px;
  }
  span {
    color: #000000;
    font-weight: bolder;
    display: block;
  }
  .home-details h3 {
    margin: 40px 0 40px 0;
  }
  .header-sec {
    display: none;
  }
  .home-details p {
    margin: 40px 0 40px 0;
    font-weight: 400;
  }
  .home-details .but {
    text-align: center;
  }
  .button {
    width: 250px;
    border: none;
    border-radius: 50px;
    height: 45px;
    font-size: 14px;
    color: #ffffff;
    background-color: #1b2a37;
    font-weight: bold;
    cursor: pointer;
  }
  .button:hover {
    background-color: #000000;
  }
  
  @media (min-width: 550px) {
    .home-details-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    section {
      padding: 10px 5%;
    }
  }
  @media (min-width: 765px) {
    .home-container {
      padding: 70px 0;
    }
    .home-details {
      text-align: center;
    }
    span {
      display: inline;
    }
    .home-details h1 {
      font-size: 65px;
    }
    section {
      padding: 10px 17%;
    }
  }
  @media (min-width: 990px) {
    .home-details h1 {
      font-size: 90px;
      font-weight: bold;
    }
    span {
      font-size: 90px;
    }
    .home-details h3 {
      font-size: 30px;
    }
  
    .home-details p {
      font-size: 24px;
    }
    .home-details .but {
      text-align: center;
    }
    .button {
      width: 280px;
      height: 50px;
    }
  }
  @media (min-width: 1400px) {
    .header-sec {
      display: block;
    }
    .home-details h1 {
      display: none;
    }
    .hamburger-icon {
      display: none;
    }
    .home-details-container {
      justify-content: flex-start;
    }
    .home-details {
      text-align: left;
    }
    .but {
      display: inline;
    }
  }
  .navigation-container {
    position: absolute;
    background-color: #1b2a37;
    height: 100vh;
    width: 100vw;
    opacity: 0.5;
  }
  .list-item {
    background-color: #000000;
    width: 200px;
    opacity: 1;
  }
